/* COLOURS:
blue : 10B8FF
green : 0DE84A
yellow : F2FF1B
dark orange : E89A0D */

@font-face {
    font-family: 'basic title font';
    src: url('basictitlefont.eot');
    src: url('basictitlefont.eot') format('embedded-opentype'),
         url('basictitlefont.woff') format('woff'),
         url('basictitlefont.ttf') format('truetype'),
         url('basictitlefont.svg#basictitlefontRegular') format('svg');
}

body {
    margin-top:0.25em;
    font-family:"Rokkitt", monospace;
    background-color:#eeeeee;
}

a {
    color:#10B8FF;
    text-decoration:none;
}

a:hover {
    color:#0DE84A;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"basic title font", "Helvetica Neue Light", sans-serif;
}

/* Navbar styling */

.navbar {
    list-style:none;
    margin:0 0 2.5em 0;
    padding:0;
    border-bottom:1px solid black;
    text-align:center;
}

.navbar li {
    display:inline-block;
    padding:0.5em 0.75em 0.5em 0.75em;
}

#current {
    color:#0DE84A;
}

/* Header styling */

.header {
    text-align:center;
    font-size:2em;
}

/* Container Styling to Center */

.container {
    max-width:67em;
    margin:1em auto 0 auto;
    clear:both;
}

/* Main styling */

.main {
    max-width:45em;
    float:left;
}

.main img {
    max-width:100%;
    border:1px solid black;
}

/* Sidebar styling */

.sidebar {
    max-width:20em;
    float:right;
}

/* Footer styling */

.footer {
    clear:both;
    padding:1em;
    border-top:1px solid black;
}

.getsinway {
    height:10em;
    clear:both;
}

/* Previous styling */

.datesinpast {
    min-width:9em;
    min-height:2em;
    font-size:1.5em;
    text-align:center;
    display:inline-block;
}

.textinpast {
    font-size:1.5em;
    min-height:1.75em;
}

/* Upcoming styling */

.upcoming {
    max-width:20em;
    float:left;
}

.upcoming h1 {
    font-size:1.5em;
}

.upcoming img {
    max-width:20em;
    border:1px solid black;
}

/* About styling */

.map {
    text-align:center;
    border:1px solid black;
    margin:auto;
    padding:0;
}
